@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.eot');
    src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Regular.woff2') format('woff2'),
        url('../fonts/OpenSans-Regular.woff') format('woff'),
        url('../fonts/OpenSans-Regular.ttf') format('truetype'),
        url('../fonts/OpenSans-Regular.svg#OpenSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'Open Sans', sans-serif;
    color: #282828;
    font-size: 16px;
    position: relative;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
}
/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

h2 {
	font-size: 50px;
	font-family: 'Times New Roman', serif;
	font-weight: normal;
	line-height: 1em;
}
div {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
button {
	cursor: pointer;
}
button:focus {
	outline: 0 !important;
}
input:focus{
	outline: none;
}
.main {
	background: #f0f2f8;
	padding-top: 48px;
	padding-bottom: 90px;
	position: relative;
}
.container {
	max-width: 80%;
	position: relative;
	margin: 0 auto;
}
.nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	height: 82px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-right: 5.2%;
	margin-left: 5.2%;
	margin-bottom: 40px;
}
.logo {
	width: 82px;
}
.info {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.phone a {
	color: #282828;
	text-decoration: none;
}
.nav .email {
	margin-left: 67px;
}
.email a {
	color: #282828;
	text-decoration: none;
}
/* меню гамбургер */
.pop-up {
	position: fixed;
	display: none;
	background: rgba(168, 171, 181, 0.8);
	width: 100%;
	height: 100vh;
	right: 0;
	top: 0;
	z-index: 5;
}
.toggle-menu .pop-up {
	z-index: 3;
}
.toggle-menu.menu_state_open .pop-up {
  display: block; 
}
.overlay {
	height: 100%;
	width: 62.32%;
	float: left;
	z-index: 4;
}
.pop-up-content {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	float: right;
	height: 100vh;
	width: 37.68%;
	padding: 3.65% 4.17%;
	background: #fff;
	overflow: auto;
}
.hidden {
	overflow: hidden;
	margin-right: 17px;
}
.toggle-menu-item {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.toggle-menu .btn {
	margin-left: 0;
	margin-top: 0;
	width: 200px;
}
.toggle-menu-list {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.toggle-menu__link {
	text-decoration: none;
	font-family: "Times New Roman", serif;
	font-size: 50px;
	color: #000;
	margin-bottom: 31.35%;
}
.toggle-menu__link:hover {
    text-decoration: underline;
}
.toggle-menu-btn {
	position: fixed;
	right: 2.6%;
   	top: calc(50vh - 13px);
   	z-index: 4;
}
.toggle-menu__icon {
   display: inline-block;
   width: 35px;
   height: 25px;
   position: relative;
   cursor: pointer;   
}
.toggle-menu__icon span {
  display: block;
  position: absolute;
  height: 2.5px;
  background: #333333;
  border-radius: 9px;
  opacity: 1;
  right: 0;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
.toggle-menu__icon span:nth-child(1) {
  top: 0px;
  width: 22.5px;  
}
.toggle-menu__icon span:nth-child(2), .toggle-menu__icon span:nth-child(3) {
  top: calc(50% - 1.25px);
  width: 35px;
}
.toggle-menu__icon span:nth-child(4) {
  bottom: 0;
  width: 22.5px;
 }
.toggle-menu.menu_state_open .toggle-menu__icon span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.toggle-menu.menu_state_open .toggle-menu__icon span:nth-child(2) {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.toggle-menu.menu_state_open  .toggle-menu__icon span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.toggle-menu.menu_state_open  .toggle-menu__icon span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
.pop-up-info {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 20px;
}
.pop-up-info .email {
	margin-left: 6%;
} 

/* форма обратной связи */
.feedback__title {
	font-size: 38px;
	margin-bottom: 5.327%;
	line-height: 1.2em;
}
.feedback__text {
	font-size: 14px;
	width: 296px;
	margin-bottom: 9.765%;
}
.feedback-form {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.feedback__input {
	height: 86px;
	width: 75.45%;
	border-top: 1px solid #9da3b4;
	border-bottom: 1px solid #9da3b4;
	border-left: none;
	border-right: none;
	margin-bottom: 7.101%;
	font-size: 14px;
}
.feedback__input::-webkit-input-placeholder {
	color: #9da3b4;
}
.feedback__input::-moz-placeholder {
	color: #9da3b4;
}
.feedback__input:-ms-input-placeholder {
	color: #9da3b4;
}
.feedback__input::-ms-input-placeholder {
	color: #9da3b4;
}
.feedback__input::placeholder {
	color: #9da3b4;
}
.feedback__btn {
	margin-left: 0;
}
.close-wrap {
	position: absolute;
	right: 2.6%;
	top: calc(50vh - 13px);
	z-index: 5;
}
.close {
	position: relative;
	width: 35px;
    height: 25px;
    cursor: pointer;
}    
.close span {
	display: block;
    position: absolute;
    height: 2.5px;
	width: 100%;
    background: #333333;
    border-radius: 9px;
    opacity: 1;
    right: 0;
    bottom: 10px;
}
.close span:nth-child(1) {
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
}
.close span:nth-child(2) {
	-webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}




.block-slider {
	width: 68.11%;
}
.block-slider img {
	width: 100%;
}
.offer {
	width: 475px;
	position: absolute;
	top: 12%;
	left: 64%;
	z-index: 2;
}
.offer h1 {
	font-size: 70px;
	font-family: 'Times New Roman', serif;
	line-height: 0.8em;
	font-weight: normal;
	margin-bottom: 40px;
}
.offer__text {
	font-size: 18px;
	margin-left: 102px;
	color: #000;
	line-height: 1.7em;
	width: 335px;
}
.rectangle {
	height: 37.5%;
	width: 1.35%;
	background: #e42f44;
	position: absolute;
	left: 68.10%;
	top: 277px;
	z-index: 1;
}
.btn {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 15px;
	color: #e42f44;
	background: none;
	border: none;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.offer__btn {
	margin-left: 102px;
	margin-top: 32px;
	width: 230px;
}
.btn .arrow {
	display: block;
	color: #e42f44;
	border: 1px solid #e42f44;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	line-height: 50px;
	margin-right: 20px;
}
.addet {	
	margin-top: 30px;
}
.addet-text {
	display: block;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 0.08rem;
	margin-left: auto;
	width: 370px;
}
.addet-text:before {
    content:'';
    width: 53px;
    height: 1.5px;
    display: block;
    background: #e42f44;
    position: absolute;
    margin-left: -85px;
    margin-top: 10px;
}
.square {
	width: 85.9%;
	height: 90%;
	position: absolute;
	background: #fafbfe;
	top: 0;
}

.about {	
	position: relative;
	padding-top: 7%;
}
.container_flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.about-offer {
	width: 45%;
	position: relative;
}
.about-content {
	position: relative;
	width: 55%;
}
.about-interior {
	width: 100%;
}
.about-content img {
	width: 100%;
}
.about-operation {
	width: 28.5%;
	position: absolute;
	top: 17%;
	right: 0;
	background: #fff;
	border-top: 9px solid #fff;
	border-left: 9px solid #fff; 
	border-bottom: 4px solid #fff;
}
.about__title {
	text-align: right;
	margin-top: 90px;
	width: 79.15%;
	margin-bottom: 210px;
}
.about__text {
	display: block;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 0.08rem;
	width: 370px;
	margin-left: 17.5%;
}
.about__text:before {
    content:'';
    width: 53px;
    height: 1.5px;
    display: block;
    background: #e42f44;
    margin-top: 10px;
    margin-left: -85px;
    position: absolute;
}
.about__vertical {
	display: block;
	color: #f26677;
	-webkit-transform: rotate(270deg);
	    -ms-transform: rotate(270deg);
	        transform: rotate(270deg);
    -webkit-transform-origin: bottom;
        -ms-transform-origin: bottom;
            transform-origin: bottom;
    font-family: 'Times New Roman', serif;
    font-size: 11.46vw;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.about-content p {
	margin-top: 108px;
	text-align: left;
	width: 458px;
	line-height: 1.5em;
	font-size: 14px
}
.about-content .btn {
	margin-left: 0;
	margin-top: 30px;
}
.about-content .addet-text {
	margin-top: 180px;
}
.project__title {
	margin-left: auto;
	width: 390px;
	margin-bottom: 80px;
	margin-top: 65px;
}
.project .btn {
	margin-bottom: 80px;
	margin-top: 65px;
	margin-left: 0;
	margin-right: 55px;
}
.project-carousel {
	width: 100%;
	padding-top: 25px;
	padding-bottom: 25px;
}
.slick-arrow {
	position: absolute;
	font-size: 0;
	
}
.slick-prev {
	display: block;
    color: #c7c7c7;
    border: 1px solid #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    background: #fff;
    bottom: 115px;
    right: -75px;
}
.slick-prev::before {
	content: "\2190";
	position: absolute;
	display: block;
	font-size: 30px;
	font-weight: 300;
    top: 22px;
    left: 23px;
    line-height: 0;
}
.slick-prev::after {
	content: "";
	position: absolute;
	display: block;
	width: 50px;
	height: 2px;
	background: #c7c7c7;
	top: 23px;
	left: 25px;
}
.slick-prev:hover {
	border: 1px solid #9b9b9b;
}
.slick-next {
	display: block;
    color: #c7c7c7;
    border: 1px solid #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    background: #fff;
    bottom: 173px;
    right: -100px;
}

.slick-next::before {
	content: "\2192";
	position: absolute;
	display: block;
	font-size: 30px;
	font-weight: 300;
    top: 22px;
    left: -5px;
    line-height: 0;
}
.slick-next::after {
	content: "";
	position: absolute;
	display: block;
	width: 50px;
	height: 2px;
	background: #c7c7c7;
	top: 23px;
	left: -26px;
}
.slick-next:hover {
	border: 1px solid #9b9b9b;
}
.project-item {
	display: block;
	width: 90.6%;
	margin: 0 5%;
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	padding-bottom: 50px;
	padding-top: 30px;
	margin-top: 11px;
	margin-bottom: 11px;
}
.project-item:hover {
	-webkit-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
	        box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2)	
}
.project-img {
	width: 77.8%;
	margin: 30px auto;
}
.project img {
	width: 100%;
}
.project-item:hover img {
	-webkit-filter: grayscale(100%);
  	-moz-filter: grayscale(100%);
  	-ms-filter: grayscale(100%);
  	-o-filter: grayscale(100%);
  	filter: grayscale(100%);
  	-webkit-filter: gray;
  	        filter: gray; /* IE 6-9 */
  	opacity: 0.7;
  	-webkit-transition: 0.5s;
  	-o-transition: 0.5s;
  	transition: 0.5s;
}
.project-item:hover .project-img {
	background: #d72c2c;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}
.project-item__btn {
	display: none;
	font-size: 15px;
	margin-top: 52px;
	color: #e42f44;
	background: none;
	border: none;
	width: 300px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;

}
.project-item:hover .project-item__btn {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}
.project-item__btn .arrow {
	display: block;
	color: #e42f44;
	border: 1px solid #e42f44;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	line-height: 50px;
	margin-right: 20px;
}
.project-item__name {
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 0.08rem;
	margin-left: 10.8%;
}
.project-item__title {
	font-size: 32px;
	font-weight: normal;
	font-family: 'Times New Roman', serif;
	margin-left: 10.8%;
}
.project-item:hover .project-item__title {
	display: none;
}
.project-item__text {
	font-size: 14px;
	margin-left: 10.8%;
	margin-top: 20px;
}
.project-item:hover .project-item__text {
	display: none;
}
.project-item__text span {
	letter-spacing: 0.08rem;
	margin-left: 10px;
	font-weight: 600;
}
.arrows {
	display: block;
}
.btn-project span {
	width: 15px;
}
.facts {
	margin-top: 11.71%;
	padding-bottom: 9%;
}
.container_end{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	position: relative;
}
.experience {
	position: absolute;
	display: block;
	color: #b4acac;
    font-family: 'Times New Roman', serif;
    font-size: 11.46vw;
    text-transform: uppercase;
    letter-spacing: 2px;
    opacity: 0.1;
    top: 20%;
    left: 7%;
    z-index: 2;
}
.facts-content .addet-text {
	margin-top: 6.82%;
	margin-bottom: 7.96%;
	width: 180px;
	margin-left: 60%;
	text-align: right;
}
.facts__title {
	width: 80%;
	margin-left: auto;
	margin-bottom: 17%;
}
.facts-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	width: 80%;
	margin-left: auto;
}
.fact {
	display: block;
	width: 40%;
	position: relative;
	margin-bottom: 12.78%;
}
.number-top {
	position: absolute;
	top: 15.45%;
	margin-left: -30px;
}
.number {
	color: #e42f44;
	font-size: 4.17vw;
	font-family: "Times New Roman", serif;
	margin-left: 30px;
}
.number:before {
    content:'';
    width: 3vw;
    height: 3px;
    display: block;
    background: #e42f44;
    position: absolute;
    margin-left: -60px;
    top: 48%;

}
.fact__text {
	margin-left: 30px;
}

.facts-slider {
	width: 47.13%;
	margin-left: 5.2%;
}
.facts-slider-responsive {
	display: none;
	width: 100%;
	margin-left: 0;
}
.facts-slider img {
	width: 100%;
	background-size: cover;
}
.facts-img img {
	width: 100%;
	background-size: cover;
}
.wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: absolute;
	width: 100%;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
	bottom: 0%;
}
.contacts-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 83.33%;
	border-top: 14px solid #fff;
	border-right: 14px solid #fff;
	background: #94969c;
	padding: 130px 138px 130px 200px;
}
.contacts {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-preferred-size: 50%;
	    flex-basis: 50%;
}
.contacts-text {
	-ms-flex-preferred-size: 33.66%;
	    flex-basis: 33.66%;
	margin-bottom: 80px;
}
.contacts-text__item {
	display: block;
	color: #fff;
	width: 100%;
	font-size: 14px;
	line-height: 1.9em;
}
.contacts-text__item_bold {
	margin-bottom: 21.63%;
	font-size: 16px;
	font-weight: 600;
}
.menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	padding-bottom: 0;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
}
.menu ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	list-style: none;
	padding-left: 0;
	overflow: hidden;
	-webkit-margin-before: 0;
	        margin-block-start: 0;
    -webkit-margin-after: 0;
            margin-block-end: 0;
    width: 100%;

}
.menu a {
	text-decoration: none;
	font-family: "Times new roman", serif;
	font-size: 22px;
	color: #fff;
	font-weight: normal;
}
.contacts__logo {
	width: 82px;
	height: 82px;
}
.map {
	width: 36.43%;
}
.credits-wrap {
	display: block;
	height: 22.22%;
	margin-left: auto;
	width: 16.7%;
	background: #e42f44;
	color: #fff;
	border-top: 14px solid #fff;
	padding-top: 3.85%;
	padding-bottom: 3.85%;
}
.credits {
	font-size: 14px;
	width: 160px;
	margin-left: 18.44%;	
}
.up-btn {
	position: absolute;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: reverse;
	    -ms-flex-flow: column-reverse;
	        flex-flow: column-reverse;
	font-size: 15px;
	letter-spacing: 1.5px;
	margin-top: 52px;
	color: #fff;
	background: none;
	border: none;
	width: 50px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	bottom: 43px;
	left: 40px;
}
.up-btn .arrow {
	display: block;
	color: #fff;
	border: 1px solid #fff;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	line-height: 50px;
	margin-right: 15px;
}
.up-text {
	-webkit-transform: rotate(270deg);
	    -ms-transform: rotate(270deg);
	        transform: rotate(270deg);
    -webkit-transform-origin: bottom;
        -ms-transform-origin: bottom;
            transform-origin: bottom;
    margin-bottom: 40px;
    font-weight: normal;
}

@media screen and (max-width: 1900px) {
	h2 {
		font-size: 44px;
	}
	.project__title {
		width: 350px;
	}
	.contacts-wrap {
		padding: 90px 80px 70px 130px;
	}
	.contacts-text {
		margin-bottom: 10%;
	}
}
@media screen and (max-width: 1700px) {
	.toggle-menu__link {
		margin-bottom: 50px;
		font-size: 30px;
	}
	.contacts {
		-ms-flex-preferred-size: 58%;
		    flex-basis: 58%
	}
	.contacts-text__item_bold {
		margin-bottom: 8px;
	}
}
@media screen and (max-width: 1600px) {
	h2 {
		font-size: 40px;
	}
}
@media screen and (max-width: 1500px) {
	h2 {
		font-size: 36px;
	}
	.feedback__input {
		height: 50px;
	} 
	.feedback__title {
		font-size: 34px;
	}
}
@media screen and (max-width: 1366px) {
	.fact__text {
		width: 150px;
	}
	.contacts-wrap {
		padding: 70px 60px 70px 130px;
	}
}
@media screen and (max-width: 1200px) {
	.addet-text:before {
		width: 30px;
		margin-left: -46px;
	}
	.about__text:before {
		width: 30px;
		margin-left: -46px;
	}
	.about__title {
		margin-bottom: 100px;
	}
	.offer {
		left: 63%;
		width: 400px;
	}
	.offer h1 {
		font-size: 50px;
	}
	.toggle-menu-btn {
		top: 5%;
		right: 5.2%;
	}
	.pop-up-content {
		width: 50%;
	}
	.overlay {
		width: 50%;
	}
	.toggle-menu-item {
		-webkit-box-pack: start;
		    -ms-flex-pack: start;
		        justify-content: flex-start;
	}
	.toggle-menu .btn {
		margin-left: 40px;
	}
	.credits {
		margin-left: calc(100% - 160px);
	}
	.offer__text {
		margin-left: 80px;
		width: 250px;
	}
	.offer__btn {
		margin-left: 65px;

	}
	.rectangle {
		top: 50%;
	}
	.facts {
		padding-bottom: 0;
	}
	.container_end {
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
	.experience {
		top: 40%;
	}
	.wrap {
		position: initial;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.contacts-wrap {
		width: 100%;
		border-right: none;
	}
	.credits-wrap {
		width: 100%;
	}
	.credits {
		margin-left: calc(50% - 80px);
	}
	.up-btn {
		left: 50px;
		bottom: 256px;
	}
}
@media screen and (max-width: 1020px) {
	.hidden {
		margin-right: initial;
	}
	.main {
		padding-bottom: 40px;
	}
	.offer {
		width: 200px;
		left: 60%;
		top: 6%;
	}
	.offer h1 {
		margin-bottom: 25px;
	}
	.offer__btn {
		margin-top: 20px;
	}
	.about__title {
		margin-top: 35px;
	}
	.addet {
		margin-top: 40px;
	}
	.slick-next {
		right: -80px;
	}
	.slick-prev {
		right: -40px;
	}
	.facts-wrap {
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}
	.number:before {
		margin-left: -40px;
		top: 30px;
	}
	.number-top {
		top: 7.45%;
		margin-left: -9px;
	}
	.contacts-wrap {
		padding: 70px 60px 70px 80px;
	}
}
@media screen and (max-width: 920px) {
	.pop-up-content {
		width: 70%;
	}
	.overlay {
		width: 30%;
	}
	.about-content p {
		width: 100%;
	}
	.square {
		height: 67%;
	}
	.contacts-wrap {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		padding: 40px 60px 40px 80px;
	}
	.menu {
		display: none;
	}
	.contacts-text {
		margin-bottom: 10px;
	}
	.map {
		width: 100%;
		height: 250px;
	}
	.up-btn {
	    left: 20px;
	    bottom: 178px;
	}
}
@media screen and (max-width: 820px) {
	h2 {
		font-size: 30px;
	}
	.feedback__title {
	    font-size: 30px;
	    line-height: 1;
	}
	.project__title {
		width: 260px;
		margin-bottom: 30px;
	}
	.project-item__title {
		font-size: 26px;
	}
	.project .btn {
		margin-bottom: 30px;
	}
	.offer {
		position: initial;
		width: 100%;
		text-align: center;
		margin-bottom: 30px;
	}
	.offer h1 {
		font-size: 40px;
		line-height: 1;
		letter-spacing: 0.8px;
		margin-bottom: 15px;
	}
	.offer__text {
		width: 100%;
		margin-left: 0;
	}
	.offer__btn {
		margin-left: calc(50% - 100px);
	}
	.block-slider {
		margin: 0 auto;
	}
	.rectangle {
		left: 84.1%;
		top: 53%;
	}

	.about-content .addet-text {
		margin-top: 60px;
	}
	.about-operation {
		top: 9%;
	}
	.square {
		height: 80%;
	}
	.slick-next {
		right: -70px;
	}
	.facts-wrap {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		margin-left: 20%;
	}
	.facts__title {
		margin-bottom: 24px;
	}
	.fact {
		width: 150px;
		margin-bottom: 15px;
	}
	.facts-content .addet-text {
		margin-left: 40%;
	}
	.number {
		font-size: 36px;
	}
	.facts-slider {
		display: none !important;
	}
	.facts-slider-responsive {
		display: block;
	}
}
@media screen and (max-width: 700px) {
	.rectangle {
		top: 60%;
	}
	.slick-next {
		right: -50px;
	}
	.slick-next::after {
		width: 40px;
		left: -19px;
	}
	.slick-prev {
		right: -30px;
	}
	.slick-prev::after {
		width: 40px;
	}
	.container_end {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.facts {
		margin-top: 0;
	}
	.facts-content {
		width: 80%;
		margin: 0 auto 30px;
	}
	.facts__title {
	    text-align: center;
	    width: auto;
	}
	.facts-wrap {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
    	-webkit-box-align: start;
    	    -ms-flex-align: start;
    	        align-items: flex-start;
	}
	.fact {
		width: 165px;
	}
	.experience {
		top: 20%;
		left: 0;
	}
}
@media screen and (max-width: 600px) {
	.nav .email {
		margin-left: 40px;
	}
	.block-slider {
		width: 100%;
	}
	.rectangle {
		left: 100%;
	}
	.pop-up-content {
		width: 90%;
	}
	.overlay {
		width: 10%;
	}
	.container_flex {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.about-offer {
		width: 100%;
	}
	.about-content {
		width: 100%;
	}
	.about__title {
		margin-top: 35px;
		margin-bottom: 20px;
	}
	.about__vertical {
		display: none;
	}
	.about-operation {
		top: 11%;
	}
	.about-content p {
		margin-top: 40px;
	}
	.about-content .addet-text {
		margin-top: 30px;
		width: 320px;
	}
	.project__title {
		margin-left: initial;
		width: 100%;
	}
	.project .btn {
		margin: 0;
	}
	.facts-wrap {
		margin-left: 30px;
	}
	.fact {
		width: 38%;
	}
	.contacts {
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		        flex-direction: column;
		text-align: center;
	}
}
@media screen and (max-width: 500px) {
	h2 {
		font-size: 26px;
	}
	.info {
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		        flex-direction: column;
	}
	.nav .email {
		margin-left: 0;
	}
	.about-content .addet-text {
		width: 80%;
		font-size: 13px;
	}
	.contacts-wrap {
		padding: 40px 0 0;
	}
	.rectangle {
		top: 68%;
    	height: 29.5%;
    	width: 3.35%;
	}
	.addet-text {
		width: 80%;
		font-size: 13px;
	}
	.pop-up-content {
		width: 100%;
	}
	.overlay {
		width: 0;
	}
	.toggle-menu-item {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: start;
		    -ms-flex-align: start;
		        align-items: flex-start;
	}
	.toggle-menu .btn {
		margin-left: 0;
	}
	.pop-up-info {
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		        flex-direction: column;
		-webkit-box-align: start;
		    -ms-flex-align: start;
		        align-items: flex-start;
	}
	.pop-up-info .email {
		margin-left: 0;
	}
	.project {
		margin-bottom: 30px;
	}
	.slick-arrow {
		bottom: -24px;
    	left: calc(50% - 75px);
	}
	.slick-prev {
		left: 20%;
    	right: 0;
	}
	.slick-next {
		right: 0;
    	left: 60%;
	}
	.about__text {
		width: 212px;
		font-size: 13px;
	}
	.facts-content .addet-text {
		margin-left: 75px;
	}
	.facts-wrap {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.fact {
		width: 100%;
	}
	.up-btn {
		left: 15px;
    	bottom: 350px;
	}
}
@media screen and (max-width: 360px) {

}